<%- include ('./partials/header.ejs') %>
<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Login Admin</h2>
        </div>
        <div class="card-body">
            <form action="#" method="post">
                <input type="email" name="email" class="form-control" placeholder="email@exemple.com"><br>
                <input type="password" class="form-control" name="password" placeholder="*******"><br>
                <button type="submit" class="btn btn-success btn-block">Logar</button>
            </form>
        </div>
    </div>
</div>
<%- include ('./partials/footer.ejs') %>