<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbar.ejs') %>
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Cadastro de Categoria</h2>
        </div>
        <div class="card-body">
            <form action="/categoria/save" method="post">
                <input type="text" name="titulo" class="form-control" placeholder="Defina o título da categoria">
                <br>
                <button class="btn btn-success btn-block">Cadastrar</button>
            </form>
        </div>
    </div>
</div>
<%- include ('../partials/footer.ejs') %>